

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0-beta.5/angular.min.js"></script>
<script src="app.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>

<style>

.center {
        width: 200px;
        height: 600px;

        position:absolute; 
        left:0; right:0;
        top:0; bottom:0;
        margin:auto;

        max-width:100%;
        max-height:100%;
        overflow:auto;
}

.text-center{
  text-align: center;
  vertical-align: text-top;
  font-family: 'Roboto', sans-serif;

}

button {
    margin:0 auto;
    display:block;
}
.bottom {
   position:absolute;
   bottom:0;
   width:100%;
   height:20px;
   }   /* Height of the footer */


</style>



<body style="background-color:rgb(149, 82, 81);">

    <ng-sidebar-container>
        <ng-sidebar  [(opened)]="_opened">
            <div class="btn-group-vertical">
                <button type="button" class="btn btn-dark" onclick="location.href='/main-page';">Shop</button>
                <button type="button" class="btn btn-dark" onclick="location.href='/home';">Login</button>
                <button type="button" class="btn btn-dark" onclick="location.href='/register';">Register</button>
                <button type="button" class="btn btn-dark" onclick="location.href='/about';">About</button>
                <button type="button" class="btn btn-dark" onclick="location.href='/contact-us';">Contact us</button>
              </div>
          </ng-sidebar>
     
          <!-- Page content -->
    
          <div ng-sidebar-content>
              
              <button (click)="_toggleSidebar()">Toggle sidebar</button>
              <footer class="bottom">
                  <p>
                    Pintiliciuc Octavian, Ratiu Sebastian, 2018
                  </p>
                
                </footer>
          </div>
          
    </ng-sidebar-container>

<div>
  <p class="text-center">
    Register
  </p>
</div>

<div class="center">
  <input type="text" #username class="form-control" id="usr" placeholder="Username" required><br>
  <input type="password" #password class="form-control" id="pwd" placeholder="Password" required><br>
  <input type="password" #confirmPassword class="form-control" id="confpwd" placeholder="Confirm Password" required><br>
<br>

<button type="button" class="btn btn-dark" (click)="register(username.value,password.value,confirmPassword.value)">Register</button>

</div>



</body>
