<style>
  .bottom {
   position:absolute;
   bottom:0;
   width:100%;
   height:20px;   /* Height of the footer */
   
}
</style>

<body style="background-color:rgb(149, 82, 81);">


<ng-sidebar-container>
        <ng-sidebar  [(opened)]="_opened">
            <div class="btn-group-vertical">
                <button type="button" class="btn btn-dark" onclick="location.href='/main-page';">Shop</button>
                <button type="button" class="btn btn-dark" onclick="location.href='/home';">Login</button>
                <button type="button" class="btn btn-dark" onclick="location.href='/register';">Register</button>
                <button type="button" class="btn btn-dark" onclick="location.href='/about';">About</button>
                <button type="button" class="btn btn-dark" onclick="location.href='/contact-us';">Contact us</button>
              </div>
          </ng-sidebar>
     
          <!-- Page content -->
    
          <div ng-sidebar-content>
            

            
              <p>
                  about works!
                </p>
              <button (click)="_toggleSidebar()">Toggle sidebar</button>

              <footer class="bottom">
                  <p>
                    Pintiliciuc Octavian, Ratiu Sebastian, 2018
                  </p>
                
                </footer>
          </div>
        
          
    </ng-sidebar-container>
  </body>


